<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-success" style="text-align: center;">
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <%= render 'layouts/side_bar', book: @new_book, user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="6"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
                <br>
                <%= link_to book.user.name, user_path(book.user.id) %>
              <% end %>
            </td>
            <td><%= link_to book.title, book_path(book.id) %></td>
            <td><%= book.body %></td>
            <td><%= link_to "Edit", edit_book_path(book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(book.id), method: :delete, data_confirm: "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
            <td id="favorite_buttons_<%= book.id %>">
              <%= render 'layouts/favorite_btn', book: book %>
            </td>
            <td><p>コメント数: <%= book.book_comments.count %></p></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <h2>投稿数の前日比・前週比</h2>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @today_books.count %></td>
            <td><%= @yesterday_books.count %></td>
            <td>
            <% if @yesterday_books.count == 0 %>
              前日の投稿は無し
            <% else %>
              <% @the_day_before =   @today_books.count.to_f / @yesterday_books.count.to_f %>
              <%= (@the_day_before * 100).round %> %
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>今週の投稿</th>
          <th>先週の投稿</th>
          <th>先週比</th>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @this_week_books.count %></td>
            <td><%= @last_week_books.count %></td>
                <% if @last_week_books.count == 0 %>
                  <td>先週の投稿はなし</td>
                <% else %>
                  <td><% @the_week_before = @this_week_books.count / @last_week_books.count  %>
                  <%= (@the_week_before * 100).round %> %
                  </td>
                <% end %>
          </tr>
        </tbody>
      </table>

      <h2>７日間分の投稿数</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>6日前</th>
            <th>5日前</th>
            <th>4日前</th>
            <th>3日前</th>
            <th>2日前</th>
            <th>1日前</th>
            <th>今日</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @books.where(created_at: 6.day.ago.all_day).count %></td>
            <td><%= @books.where(created_at: 5.day.ago.all_day).count %></td>
            <td><%= @books.where(created_at: 4.day.ago.all_day).count %></td>
            <td><%= @books.where(created_at: 3.day.ago.all_day).count %></td>
            <td><%= @books.where(created_at: 2.day.ago.all_day).count %></td>
            <td><%= @books.where(created_at: 1.day.ago.all_day).count %></td>
            <td><%= @books.where(created_at: Time.zone.now.all_day).count %></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>