<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="text-success" style="text-align: center;">
        <%= flash[:notice] %>
      </div>
    </div>
  </div>
</div>

<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-3">
      <%= render 'layouts/side_bar', book: @new_book, user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="6"></th>
          </tr>
        </thead>

        <tbody>
          <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image(100,100) %>
                <br>
                <%= link_to book.user.name, user_path(book.user.id) %>
              <% end %>
            </td>
            <td><%= link_to book.title, book_path(book.id) %></td>
            <td><%= book.body %></td>
            <td><%= link_to "Edit", edit_book_path(book.id), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", book_path(book.id), method: :delete, data_confirm: "本当に消しますか？", class: "btn btn-sm btn-danger" %></td>
            <td id="favorite_buttons_<%= book.id %>">
              <%= render 'layouts/favorite_btn', book: book %>
            </td>
            <td><p>コメント数: <%= book.book_comments.count %></p></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <h2>投稿数の前日比・前週比</h2>

      <table>
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @user.books.created_today.count %></td>
            <td><%= @user.books.created_yesterday.count %></td>
            <td>
            <% if @user.books.created_yesterday.count == 0 %>
              前日の投稿は無し
            <% else %>
              <%= @the_day_before = @user.books.created_today.count / @user.books.created_yesterday.count.to_f %>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>